{% extends "base.html.twig" %}

{% block title %}Settings - COGS{% endblock %}

{% block body %}
    <div class="flex justify-between mb-10 mt-5">
        <h2 class="text-2xl font-medium">{{ 'settings.cogs.title' | trans }} ({{ products| reduce((sum, p) => sum + (p.variants | length)) }})</h2>

        <a href="{{ path('settings_sync_products') }}" class="btn btn-link">
            <i class="fa fa-sync pr-2"></i><span>Sync Products</span>
        </a>
    </div>

    {% if products %}
        {% include 'components/cogs/products.html.twig' with {'products': products} %}
    {% else %}
    <p>Product list is empty, try syncing products first</p>
    {% endif %}

    {% if orphanProducts %}
        <h3 class="mt-10 mb-5 text-2xl font-medium">Orphan Variants</h3>
        {% include 'components/cogs/products.html.twig' with {'products': orphanProducts} %}
    {% endif %}


{% endblock %}
