{% extends "base.html.twig" %}
{% block body %}
	<h2 class="text-xl font-medium mt-4">{{ 'settings.title' | trans }}</h2>
	<button type="button" class="px-4 py-3 bg-blue-600 rounded-md text-white outline-none focus:ring-4 shadow-lg transform active:scale-75 transition-transform">
		<a href="{{ path('home', {shop: shop}) }}">
			<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="20" width="20" id="Layer_1" style="enable-background:new 0 0 512 512;" version="1.1" viewBox="0 0 512 512" width="30px" xml:space="preserve"><path d="M443.6,387.1L312.4,255.4l131.5-130c5.4-5.4,5.4-14.2,0-19.6l-37.4-37.6c-2.6-2.6-6.1-4-9.8-4c-3.7,0-7.2,1.5-9.8,4  L256,197.8L124.9,68.3c-2.6-2.6-6.1-4-9.8-4c-3.7,0-7.2,1.5-9.8,4L68,105.9c-5.4,5.4-5.4,14.2,0,19.6l131.5,130L68.4,387.1  c-2.6,2.6-4.1,6.1-4.1,9.8c0,3.7,1.4,7.2,4.1,9.8l37.4,37.6c2.7,2.7,6.2,4.1,9.8,4.1c3.5,0,7.1-1.3,9.8-4.1L256,313.1l130.7,131.1  c2.7,2.7,6.2,4.1,9.8,4.1c3.5,0,7.1-1.3,9.8-4.1l37.4-37.6c2.6-2.6,4.1-6.1,4.1-9.8C447.7,393.2,446.2,389.7,443.6,387.1z"/></svg>
		</a>
    </button>
    <div class="mx-auto mt-4 rounded">
		<!-- Tabs -->
		<ul id="tabs" class="inline-flex w-full px-1 pt-2 ">
			<li class="px-4 py-2 font-semibold text-gray-800 rounded-t opacity-50 border-b-2 border-blue-400 -mb-px">
				<a id="default-tab" href="#first">COGS</a>
			</li>
			<li class="px-4 py-2 font-semibold text-gray-800 rounded-t opacity-50">
				<a href="#second">Shipping</a>
			</li>
			<li class="px-4 py-2 font-semibold text-gray-800 rounded-t opacity-50">
				<a href="#third">Marketing</a>
			</li>
			<li class="px-4 py-2 font-semibold text-gray-800 rounded-t opacity-50">
				<a href="#fourth">Custom Costs</a>
			</li>
		</ul>

		<!-- Tab Contents -->
		<div id="tab-contents">
			<div id="first" class="p-4">
				{% include "settings/cogs.html.twig" %}
			</div>
			<div id="second" class="hidden p-4">
			Second tab
			</div>
			<div id="third" class="hidden p-4">
			Third tab
			</div>
			<div id="fourth" class="hidden p-4">
			Fourth tab
			</div>
		</div>
	</div>

<script>
	let tabsContainer = document.querySelector("#tabs");

	let tabTogglers = tabsContainer.querySelectorAll("a");
	console.log(tabTogglers);

	tabTogglers.forEach(function(toggler) {
	toggler.addEventListener("click", function(e) {
		e.preventDefault();

		let tabName = this.getAttribute("href");

		let tabContents = document.querySelector("#tab-contents");

		for (let i = 0; i < tabContents.children.length; i++) {

		tabTogglers[i].parentElement.classList.remove("border-blue-400", "border-b",  "-mb-px", "opacity-100");  tabContents.children[i].classList.remove("hidden");
		if ("#" + tabContents.children[i].id === tabName) {
			continue;
		}
		tabContents.children[i].classList.add("hidden");

		}
		e.target.parentElement.classList.add("border-blue-400", "border-b-4", "-mb-px", "opacity-100");
	});
	});

	document.getElementById("default-tab").click();

</script>
{% endblock %}
