<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Profit Dashboard | {% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />

        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {# {{ encore_entry_link_tags('app') }} #}
            {# <link rel="stylesheet" href="https://unpkg.com/@shopify/polaris@7.3.1/build/esm/styles.css"/> #}
        {# <link rel="stylesheet" href="https://unpkg.com/@shopify/polaris@5.0.0/dist/styles.css"/> #}
        <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
            integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"
        />
        <style>
            input {
                color-scheme: dark;
            }
        </style>
        {% endblock %}

        {% block javascripts %}
            {# {{ encore_entry_script_tags('app') }} #}
            <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.js" defer></script>
        {% endblock %}
    </head>
    <body class="bg-gray-900 text-gray-200 leading-tight">
        {% include "_sidebar.html.twig" %}
        <div class="md:container md:mx-auto p-4 pl-60">
            {% block body %}{% endblock %}
            {% if app.request.get('debug') %}
                <br>
                {{ dump(app.request.query.all()) }}
                {{ dump(app.session.all()) }}
            {% endif %}
        </div>
        <script>
            document.querySelectorAll('[data-modal-btn]').forEach(button => {
                button.addEventListener('click', (event) => {
                    let modalName = button.dataset.modalBtn;
                    let modal = document.querySelector(`div[data-modal=${modalName}]`);
                    modal.classList.remove('hidden');
                });
            });

            document.querySelectorAll('[data-modal-close]').forEach(button => {
                button.addEventListener('click', (event) => {
                    let modalName = button.dataset.modalClose;
                    console.log(modalName);
                    let modal = document.querySelector(`div[data-modal=${modalName}]`);
                    modal.classList.add('hidden');
                });
            });
        </script>

        <script>
            window.fbAsyncInit = function() {
                FB.init({
                appId      : '388849636272037',
                xfbml      : true,
                version    : 'v12.0'
                });
                FB.AppEvents.logPageView();
            };

            (function(d, s, id){
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) {return;}
                js = d.createElement(s); js.id = id;
                js.src = "https://connect.facebook.net/en_US/sdk.js";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>
    </body>
</html>
