<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Profit Dashboard | {% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="bg-gray-900 text-gray-200 leading-tight flex">
        {% include "_sidebar.html.twig" %}

        <div class="container p-4 pl-20 md:pl-72">
            {% block body %}{% endblock %}
        </div>

        <div class="absolute right-0 top-0 m-4 flex flex-col justify-top-right items-end gap-4">
            {% for type, messages in app.flashes %}
                {% for message in messages %}
                    {% include "components/toast.html.twig" with {type: type, message: message} %}
                {% endfor %}
            {% endfor %}
        </div>

        <script>
            document.querySelectorAll('[data-modal-btn]').forEach(button => {
                button.addEventListener('click', (event) => {
                    let modalName = button.dataset.modalBtn;
                    let modal = document.querySelector(`div[data-modal=${modalName}]`);
                    modal.classList.remove('animate-fade-out');
                    modal.classList.add('animate-fade-in');
                    modal.classList.remove('hidden');
                });
            });

            document.querySelectorAll('[data-modal-close]').forEach(button => {
                button.addEventListener('click', (event) => {
                    let modalName = button.dataset.modalClose;
                    let modal = document.querySelector(`div[data-modal=${modalName}]`);
                    modal.classList.remove('animate-fade-in');
                    modal.classList.add('animate-fade-out');
                    setTimeout(() => modal.classList.add('hidden'), 150);
                });
            });
        </script>

        <script>
            window.fbAsyncInit = function() {
                FB.init({
                appId      : '388849636272037',
                xfbml      : true,
                version    : 'v12.0'
                });
                FB.AppEvents.logPageView();
            };

            (function(d, s, id){
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) {return;}
                js = d.createElement(s); js.id = id;
                js.src = "https://connect.facebook.net/en_US/sdk.js";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>
    </body>
</html>
