{% extends "base.html.twig" %}
{% block body %}
	<h2 class="text-xl font-medium mt-4">Profit Dashboard</h2>
    <div class="row my-4">
        {{ form(searchForm) }}
    </div>
    <div class="flex space-x-4 my-4">
        {% include "components/dashboard-item.html.twig" with {title: "Revenue", value: dashboard.revenue, type: 'money'} %}
        {% include "components/dashboard-item.html.twig" with {title: "Orders", value: dashboard.orders, type: 'number'} %}
        {% include "components/dashboard-item.html.twig" with {title: "AOV", value: dashboard.aov, type: 'money'} %}
        {% include "components/dashboard-item.html.twig" with {title: "Profit", value: dashboard.profit, type: 'money'} %}
    </div>
    <div class="flex space-x-4 my-4">
        {% include "components/dashboard-item.html.twig" with {title: "Facebok Ad Spend", value: dashboard.fbAdSpend, type: 'money'} %}
        {% include "components/dashboard-item.html.twig" with {title: "CPA", value: dashboard.cpa, type: 'money'} %}
        {% include "components/dashboard-item.html.twig" with {title: "COGS", value: dashboard.cogs, type: 'money'} %}
    </div>
{% endblock %}
