{% extends "base.html.twig" %}
{% block body %}
    <h3>{{ 'auth.login.title' | trans }}</h3>

    {{ form(loginForm) }}
    {# <form action="" method="POST" name="login">
        <input type="text" name="shop" placeholder="your-shop-url.myshopify.com">
        <button type="submit">Sign Up</button>
    </form> #}
{% endblock %}
